.Avatar{
    display: flex;
    width: 50rem;
    height: 20rem;
    justify-content: center;
    text-align: center;  
    
}
.Avatar img{
    width: 20rem;
    height: 20rem;
    border-radius: 2%;
    margin-right: 15%;
    margin-top: 2%;
    border-image-outset: 10%;
    border: 2px solid rgb(255, 255, 255);
    
}