.Footer{
    display: flex;
    background: linear-gradient(to bottom, #ffffff2d,#000000);
    justify-content: center;
    padding: 30px 60px;
    margin-top: 50px;
    flex-wrap: wrap-reverse;
    
}
